<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <clear />
        <add key="Resolution" value="7680|2160|True" />
        <add key="LeftScreen" value="-1.53,1.22,0.09|-90,0,-90.00001|0.434,0.01,0.244|False|0|0|0|0|False|0|0|False" />
        <add key="FrontScreen" value="0,1.22,2.26|-90,0,0|0.434,0.01,0.244|False|0|0|0|0|False|0|0|True" />
        <add key="RightScreen" value="1.53,1.22,0.09|-90,0,90.00001|0.434,0.01,0.244|False|0|0|0|0|False|0|0|False" />
        <add key="FloorScreen" value="0,0,0.083|0,-90.00001,0|0.5407,0.01,0.306|False|0|0|0|0|False|1.02|0.98|True" />
        <add key="HeadOffset" value="0,0,0.0" />
        <add key="SplitEyes" value="False" />
        <add key="DaemonIP" value="192.168.3.6" />
        <add key="DaemonPortNumber" value="8002" />
        <add key="ServerIP" value="192.168.3.5" />
        <add key="serverPortNumber" value="8003" />
        <add key="ExperimentName" value="Parent-Child-ADHD" />
        <add key="ParticipantID" value="Test" />
        <add key="Age1" value="10" />
        <add key="Gender1" value="Male" />
        <add key="Age2" value="30" />
        <add key="Gender2" value="Female" />
        <add key="PeerGroup" value="" />
        <add key="DateTime" value="2/17/2017 9:30:01 AM" />
        <add key="AutomaticID" value="False" />
        <add key="SecondParticipant" value="False" />
        <add key="UseCurrentTime" value="True" />
        <add key="VideoRecording" value="True" />
        <add key="IsOnLeft" value="True" />
        <add key="Path" value="F:\LongWait\Assets\Raw Data" />
        <add key="MulticastIP" value="239.255.42.99" />
        <add key="HostIP" value="192.168.3.6" />
        <add key="DataPort" value="1511" />
        <add key="CommandPort" value="1510" />
        <add key="Description" value="" />
    </appSettings>
</configuration>